server:
  port: 8000

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

api:
  security:
    token:
      secret: BE1B44F8953BB2978C54FAA622EA1

aws:
  security:
    accessKeyId: ${AWS_ACCESS_KEY_ID:local}
    secretAccessKey: ${AWS_SECRET_ACCESS_KEY:local}
  queue:
    url: ${AWS_SQS_QUEUE_URL:http://localhost:4566}